body{

background:#101018;

color:white;

font-family:Arial;

padding:20px;

}



button{

padding:10px;

margin:5px;

border-radius:12px;

border:none;

cursor:pointer;

background:#252540;

color:white;

}



input{

padding:12px;

width:90%;

border-radius:15px;

border:none;

margin:15px;

}



.admin-card{

background:#1b1b2b;

padding:20px;

border-radius:20px;

margin:15px;

}



.value-row{

display:flex;

justify-content:space-between;

margin:8px;

}



.value-row input{

width:100px;

margin:0;

}
